body {
	background-color: white;
}
 
.container {
	margin:0 auto;
	width:960px;
	font-size: 100%;
	line-height: 1.5;
}

header{
	height: 70px;
	background-color:white;
	border-bottom: 1px solid #959372;
}

header > h1 {
	display:none;
}