/*************************
Different types of coding blocks

element selector
body


*************************/


body{
    margin: 0;
    padding: 0;
}

h1 {
    padding:48px;
    color: #696969;
    border-bottom: 1px solid #dedede
}

section {
    font-family: arial;
    width: 800px;
    margin:  48px;
}


/*********
if you have the same rules for multiple element selectors you may group them as a comma separated list
The group may be coded on one physical line or over multiple lines

If you repeat the element selector in your css file, any additional rules sre combined with previously specified rules. If you re-code a previously specified rule then the new rule overrides the previous rule. Last Rule Wins
****/


body{
    font-family: verdana ;
    color: #111111;
}



/*********
Descendant selectors

A descendant selector is a set  of element selectors when used in your html, follow immediately one after another..
This can be used to isolate a particular selector from other occurances of the same selector on the page

The descendant has two OR MORE element selectors


this would color ALL unordered lists
ul{
    background-color: lightblue;
}

this ONLY gets ULs in the footer area   THERE IS NO COMMA OR ANYTHING
ul{
    background-color: lightblue;
}

this technique will over ride generic styles
****/


footer ul{
    background-color: lightblue;
}


/*******
Child selectors

The desc

******/

main p{
    font-style: italic;
}

/*******
Psuedo classes 

Attached to classes

on html a class is specified within a html tag

class = class "user-name"

NOTE it does Not use a seperating comma

you can have multiple classes on one html tag. 
syntax   tag class="use-name1 user-name2"

******/

.menu-items{
    font-family:courier, sans-serif ;
    list-style-type:none;
    width: 600px;
    padding: 24px;
    border-left: 5px solid red;
    background-color: #f4f4f4;
    margin-left: 24px;
}

/********************************

Not all html elements have pre-coded psuedo classes

the anchor tag has FOUR pre-coded psuedo classes
The order in which the anchor tag psuedo classes are specified within your CSSis IMPORTANT is you're gonna override them
when you override the psuedoclass, you are overrideing the defaults of the class

a:link
a:hover       used when your cursor hovers over the anchor
a:visited     used after you have gone to the anchor link
a:
********************************/


/****



***/