body {
	background-color: whitesmoke;
}

.container {
	background-color: red;
	margin:0 auto;
	width:960px;
	font-size: 100%;
	line-height: 1.5;
}



/******
Typography    (MODULE 3)   (((I dont know what the fuck that means 
Affects the stylings of text
***/

h1, h2{
	padding: 10px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #747474
}

/******
layout
***/

nav{
	margin-top: 24px;
	height: 48;
	background-color: peru;
}



main{
	
	margin-top: 24px;
	background-color: bisque;
	padding: 24px
	
}
header{
	height: 450px;
	margin-top: 24px;
	background-color: aquamarine
}

/******
 width = left margin + left border + left padding + content + right padding + right border + right margin
 width = 30 + 2 + 0 + content + 0 + 2 + 30
 width = content + 64
***/

main section{
	border: 2px solid black;
	margin: 30px;
	height: 20px;
	background-color: white;
	width: 896;
}